#krezaTerms {
    font-size:18px;
    font-weight:bold;
}
#loginPic{
    width: 80%;
    height: 90%;
    border-radius: 50%;
}

#facebook {
    background-color:#3b5998;
}
#google {
    background-color: white;
    color:#282828;
}


#fbGoogle .button{ 
    font-size:20px;
    height: 40px;
    text-transform:none;
}
#signLogin {
    display: inline-block;

}
