#profilePic {
    border-radius: 15px;
}
#userName {
    font-size: 23px;
    font-weight: 400;
    padding-top:10%;
    color:black !important;
}
#container {
    border-bottom:1px solid #8b8888;
}
#userInfo {
    display: block;
    color:#484848;
    line-height:1.5;
}
#user {
    margin-bottom: 0;
}
.userIcons {
    margin-left: 10px;
}
.text-on-bottom > .button-inner {
    flex-direction: column;
  }

#buttonWithIcons button {
    color:#484848;
    height:100%;
}
#buttonWithIcons ion-icon {
    font-size: 30px;  
}
.item-inner{
    min-height: 3px !important;
}
    
.label-md{
      margin-bottom: 3px!important;
      margin-top: 3px!important;
}
    
ion-item-divider{
      margin-top: 1px;
      min-height: 3px!important;
      margin-bottom: 6px;
}
#userInfo button {
    font-weight: bold;
}
#userInfo span {
    font-weight: normal !important;
}
#userInfo ion-icon {
    color: #484848;
    margin-right: 10px;
}
#feed {
    font-weight: bold;  
}
#newFeed{
    text-align: center;
}
