page-business {
    .review{
        border-bottom: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
        margin-top: 20px;
        background-color: #eeeeee;
    }
    .desc{
        font-size: 10px;
    }
}
